body {
  margin: 0;
}

.container {
  background-image: url(/img/Tic-tac-toe.png);
  background-position: center;
  background-size: cover;
  margin: 5em auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  height: 455px;
  width: 456px;
}

div {
  /* border: 1px solid black; */
  height: 150px;
  width: 150px;
}

div>* {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  z-index: -1;
  background-image: url(/img/x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  transition: all 0.5s cubic-bezier(0, 2.29, 0.57, 0.52);
}

.blue {
  margin: auto;
  z-index: -1;
  background-image: url(/img/o.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  transition: all 0.5s cubic-bezier(0.76, -0.97, 0.07, 1.47);

}

.result {
  margin: auto auto;
  max-width: 300px;
  text-align: center;
  color: #7a2a2a;
  position: absolute;
  top: 30%;
  left: 36%;
  font-size: 4em;
  transition: all 0.5s ease;
  transform: scale(2);
  z-index: 5;
}